section {
  font-family: "Arita-dotum-Medium";
  width: 100%;
  height: 100vh;

  border: 1px solid red;
}

/* section 01 */

.sec01 {
  color: white;
  background-color: black;

  position: relative;
}

.sec01 > .title {
  font-size: 80px;
  font-weight: 100;
  position: absolute;
  top: 130px;
  left: 70px;
}

.sec01 > .bigLogo {
  position: absolute;
  right: 0;
}

.sec01 > .caption {
  font-size: 13px;

  width: fit-content;
  position: absolute;
  bottom: 30px;
  right: 30px;
}

.sec01 > .caption > ul > li {
  text-align: end;
  margin-bottom: 5px;
}

/* sec02 */

.sec02 {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.sec02 > .videoBox {
  width: 100px;
  height: 100px;
  border-radius: 9999px;
  overflow: hidden;

  position: absolute;
  top: 52%;
  right: 26%;
}
.sec02 > .videoBox > video {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.sec02 > .textBox {
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 1;
  font-size: 70px;
}
.sec02 > .textBox > .fistText {
  display: flex;
  gap: 30px;
}
.sec02 > .textBox > .fistText > span {
  font-family: "Cafe24Lovingu";
  font-size: 110px;
}

.sec03 {
  font-size: 110px;
  position: relative;
}

.sec03 > .quoteBox {
  width: 100%;
  height: 100vh;

  letter-spacing: 10px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 50px;
}

.sec03 > .quoteBox > .fistQuote {
  position: absolute;
  top: 26%;
  right: 200px;
  display: flex;
  gap: 30px;
}

.sec03 > .quoteBox > .secondQuote {
  position: absolute;
  top: 43%;
  left: 250px;
  display: flex;
  gap: 30px;
}
.sec03 > .quoteBox > .thirdQuote {
  position: absolute;
  top: 56%;
  right: 10px;
  display: flex;
  gap: 30px;
}

.sec03 > .quoteBox > .quotePeople {
  position: absolute;
  top: 70%;
  right: 400px;
}

.sec03 > .quoteBox > .thirdQuote > p {
  font-size: 130px;
  font-family: "Cafe24Lovingu";
}

.sec03 > .quoteBox > .quotePeople > h1 {
  font-size: 80px;
  font-family: "Cafe24Lovingu";
}

/* section 04 */

.sec04 > .symbolBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;
}

.sec04 > .symbolBox > .workNoti {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

.sec04 > .symbolBox > .workNoti > .symbol > img {
  width: 100px;
  height: 100px;
}

.sec04 > .symbolBox > .workNoti > p {
  font-size: 20px;
  text-align: center;
}
.sec04 > .symbolBox > .workNoti > a {
  font-size: 30px;
  border: 1px solid black;
  border-radius: 35px;
  padding: 10px 30px;

  transition: all 0.4s;
}

.sec04 > .symbolBox > .workNoti > a:hover {
  background-color: black;
  color: white;
}

.sec05 > .slideTitle {
  display: flex;
  gap: 50px;

  padding: 50px 100px;
}

.sec05 > .slideTitle > p {
  font-size: 20px;
  padding: 10px 0;
}

.sec05 > .slideTitle > h1 {
  font-size: 70px;
  line-height: 60px;
}

/* section06 */

.sec06 {
  position: relative;
}

.sec06 > .workBox {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.sec06 > .workBox > button {
  padding: 10px 30px;
  background-color: transparent;
  color: white;
  border: 1px solid white;
  border-radius: 50px;

  font-size: 23px;

  position: absolute;
  bottom: 20%;
}

.sec06 > .workBox > .workTitle {
  font-size: 180px;
  font-weight: 900;
}

.sec06 > .workBox > .workTitle > .mainTitle {
  position: absolute;
  top: 25%;
  left: 0;
}

.sec06 > .workBox > .workTitle > .subTitle {
  position: absolute;
  top: 45%;
  right: 0;
  font-family: "Cafe24Lovingu";
  font-size: 250px;
}

.sec06 > .workBox > .photoBox {
  width: 100%;
  height: 100%;

  position: absolute;
  bottom: -890px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: relative;
}

.sec06 > .workBox > .photoBox > .photoCard {
  width: 250px;
  color: white;
  font-size: 11px;
}

.sec06 > .workBox > .photoBox > .photoCard > img {
  width: 100%;
  object-fit: contain;
}

.firstCard {
  position: absolute;
  top: 10%;
  left: 25%;
}

.secondCard {
  position: absolute;
  top: 30%;
  right: 25%;
}
.thirdCard {
  position: absolute;
  top: 60%;
  left: 25%;
}
.fourthCard {
  position: absolute;
  top: 80%;
  right: 25%;
}
